[submodule "HockeyKit"]
	path = HockeyKit
	url = git://github.com/alexbirkett/HockeyKit.git
[submodule "cwac-locpoll"]
	path = cwac-locpoll
	url = git://github.com/alexbirkett/cwac-locpoll.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/alexbirkett/ActionBarSherlock.git
[submodule "android-controllers"]
	path = android-controllers
	url = git://github.com/alexbirkett/android-controllers.git
